.btn-primary {

}
table {
    margin-top: 10px;
}

/*Media Query Section ================================*!*/

/* Large desktops and laptops */
@media (min-width: 1200px) {
    .btn-success {
        margin-right: 10px;
    }
}

/* Landscape tablets and medium desktops */
@media (min-width: 992px) and (max-width: 1199px) {
    .btn-success {
        margin-right: 10px;
    }
}

/* Portrait tablets and small desktops */
@media (min-width: 768px) and (max-width: 991px) {

}

/* Landscape phones and portrait tablets */
@media (max-width: 767px) {

}

/* Portrait phones and smaller */
@media (max-width: 480px) {
.btn-sm {
    width: 60px;
    margin: 5px 0;
}
    .table-sm td, .table-sm th {
        vertical-align: middle;
    }
    table.table tr.none {
        display: none;
    }

}
